{% extends 'baseback.html.twig' %}

{% block title %}Dossiermedical{% endblock %}

{% block content %}
    <h1>Dossiermedical</h1>
<br><br><br><br><br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossiermedical.id }}</td>
            </tr>
            <tr>
                <th>Groupesang</th>
                <td>{{ dossiermedical.groupesang }}</td>
            </tr>
            <tr>
                <th>Maladiechronique</th>
                <td>{{ dossiermedical.maladiechronique }}</td>
            </tr>
            <tr>
                <th>Resultatanalyse</th>
                <td>{{ dossiermedical.Resultatanalyse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossiermedical_index') }}">back to list</a>

    <a href="{{ path('app_dossiermedical_edit', {'id': dossiermedical.id}) }}">edit</a>

    {{ include('dossiermedical/_delete_form.html.twig') }}
{% endblock %}
